.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 10vh;
    background-image: url("/background.jpg");
    width: 100%;
    position: sticky;
    top: 0;
}
.logo{
    height: 100%;
    margin-left: 1rem;
}
.container a {
    display: flex;
    height: 100%;
}
.nav{
    height: 90%;
    max-width: 500px;
    width: 40%;
}
.nav ul{
    height: 100%;
    display: flex;
    width: 100%;
}
.nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 35%;
}
.nav ul li:hover{
    background-color: rgb(86, 94, 86, 0.2);
}
.nav ul li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.linkName {
    position: absolute;
    top: 7%;
    display: block;
    opacity: 0;
    transform: translateY(10px);
    font-size: 0.75rem;
    transition: opacity 0.3s ease, transform 0.3s ease;
    visibility: hidden;
}

.nav ul li a:hover .linkName {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}
.icons{
    font-size: 1.5rem;
    color: #2e2e2e;
}
.icons.activeIcon{
    color: white;
    border-bottom: 3px solid white;
}
.avatar{
    border: 1px solid black;
    border-radius: 10rem;
    background-color: yellow;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1em;
}


