.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    overflow-y: scroll;
}
.innerContainer1{
    background-color: white;
    width: 45%;
    height: 80vh;
    -webkit-box-shadow: 4px 6px 24px -9px rgba(66, 68, 90, 1);
    -moz-box-shadow: 4px 6px 24px -9px rgba(66, 68, 90, 1);
    box-shadow: 4px 6px 24px -9px rgba(66, 68, 90, 1);
}
.innerContainer2{
    background-color: white;
    width: 45%;
    height: 80vh;
    -webkit-box-shadow: 4px 6px 24px -9px rgba(66, 68, 90, 1);
    -moz-box-shadow: 4px 6px 24px -9px rgba(66, 68, 90, 1);
    box-shadow: 4px 6px 24px -9px rgba(66, 68, 90, 1);
}