.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 10vh;
    background-image: url("/background.jpg");
    width: 100%;
    position: sticky;
    top: 0;
}
.logo{
    height: 100%;
    margin-left: 1rem;
}
.container a {
    display: flex;
    height: 100%;
}
.btn{
    display: none;
    margin-right: 1rem;
}

@media (max-width: 600px){
    .btn{
        display: block;
    }
}

