.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    max-width: 1200px;
    width: 100%;
}
.title{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    color: #2e2e2e;;
    font-size: 4rem;
}