.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
}
.userAvatar{
    height: 2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.userName{
    font-size: 0.75rem;
    font-weight: 600;
    color: black;
}