.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    color: #2e2e2e;
    margin: 1em;
    font-size: 1.4rem;
    font-weight: 900;
}
.text{
    text-align: center;
    font-size: 0.75rem;
    margin-bottom: 2rem;
}
.link{
    font-weight: 600;
    color: green;
}
.link:hover{
    text-decoration: underline;
}
