.container{
    display: flex;
    flex-direction: column;
}
.innerContainer{
    display: flex;
    flex-direction: row;
}

@media (max-width: 500px) {
    .innerContainer{
        min-height: 90vh;
    }
}